* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}




section {
    padding-block: 8rem;
    width: 1440px;
    margin-inline: auto;
}



@media(max-width:1510px) {
    section {
        width: 1000px;
    }

}


@media(max-width:1060px) {
    section {
        width: 800px;
    }

    html,
    body {
        overflow-x: hidden;
    }
}